<div class="profile-container">
  <h1>Patient Profile</h1>

  <% if @patient.present? %>
    <div class="user-info">
      <p>
        <strong>ID:</strong>        <%= @patient.id %><br>
        <strong>Email:</strong>     <%= @patient.email %><br>
        <strong>Phone:</strong>     <%= @patient.phone %><br>
        <strong>Full Name:</strong> <%= @patient.full_name %><br>
        <strong>Age:</strong>       <%= @patient.age %><br>
        <strong>City:</strong>      <%= @patient.city %><br>
      </p><hr>
      <p>Total Closed Appointments: <%= @closed_appointments.size %></p><hr>

      <div class="profile-actions">
        <% if patient_signed_in? %>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <%= link_to "My Appointments", appointments_path,  class:"btn btn-warning" %>
            <%= link_to 'Edit Profile', edit_patient_registration_path, class:"btn btn-primary me-md-2 button" %>
            <%= link_to 'Log out', destroy_patient_session_path, method: :delete, data: { turbo_method: :delete }, class:"btn btn-danger me-md-2 button"%>
          </div>
        <% end %>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <h2 class="btn btn-success">Active Appointments: <%= @active_appointments.size  %></h2>
      </div>
      <div class="card-body">
        <% @active_appointments.each do |appointment| %>
          <p><strong>Appointment with <%= appointment.doctor.email %></strong></p>
          <p>Date: <%= appointment.date %></p>
          <p>Time: <%= appointment.time %></p>
          <p>Problem: <%= appointment.problem %></p>

          <% if appointment.recommendation.present? %>
            <p><strong>Recommendation:</strong> <%= appointment.recommendation.content %></p>
          <% end %>

          <%= link_to 'Close Appointment', close_appointment_path(appointment), method: :put, class: 'btn btn-danger', data: { turbo_method: :put } %>
        <% end %>
      </div>
    </div><br>

       <% else %>
         <p>User not found</p>
    <% end %>
</div>
